@font-face {
  font-family: "AvQest";
  src: local("AvQest"), url("./assets/fonts/AvQest.ttf") format("truetype");
}

@font-face {
  font-family: "exocet";
  src: local("exocet"), url("./assets/fonts/exocet.ttf") format("truetype");
}

body {
  font-family: "AvQest";
  font-size: large;
}
